<div class="container">
 
    <form #userDetails="ngForm">
        <h4 class="display-4 text-center mb-4 mt-4">User details</h4>
          <div class="form-group col-md-5 mb-4 mt-4">
              <button type="button" class="btn btn-secondary mr-1 btn-sm"  [routerLink]="['/users']">
                  RETURN</button>
              <button type="button" [disabled]="userDetails.invalid" (click)="saveUser()" class="btn btn-success mr-1 btn-sm">SAVE</button>
              <button type="button" (click)="newUser()" class="btn btn-primary btn-sm">NEW</button>
      </div>

        <div class="form-row mt-4">
          <div class="form-group col-md-2">
            <label for="id">ID</label>
            <input type="number" [(ngModel)]="user.id" name="id" class="form-control" id="id" readonly>
          </div>
          <div class="form-group col-md-5">
            <label for="name">Name</label>
            <span style="color: red; font-size: 23px;" *ngIf="nameValidate.invalid"> *</span>
            <input type="text" #nameValidate="ngModel" [(ngModel)]="user.name" name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group col-md-5">
            <label for="surname">Surname</label>
            <span style="color: red; font-size: 23px;" *ngIf="surnameValidate.invalid"> *</span>
            <input type="text" #surnameValidate="ngModel" [(ngModel)]="user.surname" name="surname" class="form-control" id="surname" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="login">Login</label>
            <span style="color: red; font-size: 23px;" *ngIf="loginValidate.invalid"> *</span>
            <input type="text" #loginValidate="ngModel" [(ngModel)]="user.login" class="form-control"  name="login" id="login" required>
          </div>
          <div class="form-group col-md-6">
            <label for="pass">Password</label>
            <span style="color: red; font-size: 23px;" *ngIf="passwordValidate.invalid"> *</span>
            <input type="password"  #passwordValidate="ngModel" [(ngModel)]="user.pass" class="form-control" id="pass"
            name="pass" required>
          </div>
        </div>
       
        <div class="card text-center col-md-12 mt-4 mb-4">
          <div class="card-header">
            Telephones
          </div>
          <div class="card-body">
            <div class="form-row" style="text-align: center;">
              <div class="form-group form-group-sm col-sm-9 col-md-4">
              <input class="form-control input-sm" type="text" name="number" id="number"
              [(ngModel)]="telephone.number">
            </div>

            <div class="form-group col-sm-2 col-md-1">
              <button class="btn btn-light" (click)="addTelephone(user.phones)">Add</button>
            </div>
          </div>

          <div class="form-row" >
            <table class="table table-borderless col-md-12" *ngIf="user.phones">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let phone of user.phones; let i = index">
                  <td>{{phone.number}}</td>
                  <td><button class="btn btn-danger btn-sm" (click)="deleteTelephone(phone.id, i)">Delete</button></td>
                </tr>
              </tbody>
            </table>    
          </div>
        </div>
        </div>
      </form>

</div>
