<div class="container">

  <form class="form-inline mt-4">

      <input type="text"  [(ngModel)]="name" class="form-control" id="name"
       name="name" placeholder="Find an user">  
    <button type="button" (click)="findUserByName()" class="btn btn-primary mb-4 mt-4 mr-2 ml-1">Search </button>
    <button  [routerLink]="['/newUser']" class="btn btn-success mb-4 mt-4 ml-2">New</button>
  </form>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate: {itemsPerPage: 5, currentPage: p, totalItems: total}; let i = index">
          <th>{{user.id}}</th>    
          <td>{{user.login}}</td>
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td> 
          <td><button (click)="deleteUser(user.id, i)" class="btn btn-danger">Delete</button></td>
          <td><button [routerLink]="['/newUser', user.id]" routerLinkActive="router-link-active"  class="btn btn-light">Update</button></td>
      </tr>
    </tbody>
  </table>

<div class="text-center">
  <pagination-controls (pageChange)="loadPage(p = $event);" responsive="true"></pagination-controls>
</div>

</div>
